@use "../components/display.scss";

#menu{
    background-color: black;
    height: 5vh;
    & > #menu-list{
        @include display.flex(row, space-evenly, center);
        height: 100%;
        & > li{
            @include display.flex(row, center, center);
            width: 25%;
            height: 100%;
            & > a{
                width: 100%;
                padding: 10px;
                color: white;
                text-align: center;
            }
        }
    }
}