@use "../components/display.scss";
%rowFlex{
    @include display.flex(row, center, center);
}

#this-week{
    @include display.flex(column, center, center);
    height: 50vh;
    & > #this-week__header{
        @extend %rowFlex;
        height: 10vh;
    }
    & > #this-week__number{
        @extend %rowFlex;
        height: 100%;
    }
}