@use "../home-button.scss";

.payment-success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  background-color: #f7f7f7;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: #3b1e1e; // 카카오톡의 텍스트 색상에 맞춘 다크 브라운
    margin-bottom: 1.5rem;
  }

  .payment-details {
    margin-bottom: 2rem;

    p {
      font-size: 1.2rem;
      color: #333; // 결제 정보는 가독성을 위해 다크 그레이로 유지
      margin: 0.5rem 0;
    }
  }

  .error-message {
    color: red;
    margin-bottom: 1.5rem;
  }
}
