#header > #login-section, #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header {
  background-color: rgb(46, 45, 45);
  height: 10vh;
  padding: 1vh;
}
#header > h1 {
  font-size: 40px;
  font-weight: 900;
}
#header > h1 > a {
  text-decoration: none;
  color: white;
}
#header > #login-section > a {
  padding: 5px;
  color: white;
}