#join-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
}
#join-form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
#join-form > div > label {
  width: 100px;
  text-align: end;
  padding-right: 5px;
}
#join-form > div > input {
  height: 30px;
}
#join-form > div > div {
  height: 30px;
  width: 30px;
  background-color: red;
  margin-left: 5px;
  border-radius: 5px;
}
#join-form > p {
  color: red;
}
#join-form > input {
  padding: 20px;
  border: none;
  background-color: #0d99ff;
  border-radius: 20px;
  color: white;
}