#this-week > #this-week__number, #this-week > #this-week__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#this-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#this-week > #this-week__header {
  font-size: 25px;
  font-weight: 600;
  height: 10vh;
}
#this-week > #this-week__number {
  font-size: 40px;
  font-weight: 900;
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
}
#this-week > #this-week__number > div {
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  align-content: center;
}