#this-week > #this-week__number, #this-week > #this-week__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#this-week {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#this-week > #this-week__header {
  height: 10vh;
}
#this-week > #this-week__number {
  height: 100%;
}