@use "../../../components/display.scss";
@use "../../../components/height.scss";
@use "../../../components/font.scss";

%rowFlex {
  @include display.flex(row, center, center);
}

#number {
  @include display.flex(column, center, center);
  height: 100 - height.$header-height - height.$menu-height;
  & > #number__header {
    @extend %rowFlex;
    font-size: font.$sub-size;
    font-weight: font.$sub-weight;
    height: 10vh;
  }
  & > #number__list {
    @extend %rowFlex;
    font-size: font.$title-size;
    font-weight: font.$title-weight;
    height: 100%;
    width: 100%;
    color: white;
    & > div {
      width: 100px;
      height: 100px;
      padding: 20px;
      margin: 10px;
      border-radius: 50%;
      text-align: center;
      align-content: center;
    }
  }
  & > .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #0d99ff;
    animation: spin 1s ease-in-out infinite;
    margin-top: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  & > input {
    padding: 20px;
    border-radius: 20px;
    background-color: #0d99ff;
  }
}
