@use "../components/display.scss";
@use '../components/font.scss';
@use '../components/height.scss';

%rowFlex{
    @include display.flex(row, center, center);
}

#this-week{
    @include display.flex(column, center, center);
    height: height.$this-week-height;
    & > #this-week__header{
        @extend %rowFlex;
        font-size: font.$sub-size;
        font-weight: font.$sub-weight;
        height: 10vh;
    }
    & > #this-week__number{
        @extend %rowFlex;
        font-size: font.$title-size;
        font-weight: font.$title-weight;
        height: 100%;
        width: 100%;
        color: white;
        & > div{
            width: 100px;
            height: 100px;
            padding: 20px;
            margin: 10px;
            border-radius: 50%;
            text-align: center;
            align-content: center;
        }
        & > p{
            color: black;
        }
    }
}