extends layout
block content
  div#this-week
    div#this-week__header
      h1 금주 당첨번호
    div#this-week__number
      div 
      div 
      div 
      div 
      div 
      div 
      p 
        i.fa-solid.fa-plus
      div 
  div#content-box
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
    div 
      a(href='') 게시글입니다.
block script 
  script(src='/dist/main.bundle.js', type='module')