extends layout 
block link
  link(rel="stylesheet", href="./css/join.css")
block content
  form(id='join-form', method='POST') 
    div 
      label(for="name") 아이디
      input(type="text", required, name='name', placeholder='아이디', minlength='2')#name
      div#name-box
    div 
      label(for="email") 이메일
      input(type="email", required, name='email', placeholder='이메일')#email
      div#email-box
    div 
      label(for="password") 비밀번호
      input(type="password", required, name='password', placeholder='비밀번호', minlength='5')#password
      div#password-box
    div 
      label(for="checkPassword") 비밀번호 확인
      input(type="password", required, name='checkPassword', placeholder='비밀번호 확인', minlength='5')#checkPassword
      div#checkPassword-box
    div 
      label(for="phone") 전화번호
      input(type="text", required, name='phone', placeholder='전화번호')#phone
      div#phone-box
    if errmsg
      p#errmsg=errmsg
    input(type="submit", value='회원가입')
block script 
  script(src='/js/join.js', type='module')