extends layout 
block link
  link(rel="stylesheet", href="./css/join.css")
block content
  form(id='join-form', method='POST') 
    div 
      label(for="name") 
      input(type="text", required, name='name', placeholder='이름', minlength='2')#name
      div#name-box
    div 
      label(for="email") 
      input(type="email", required, name='email', placeholder='이메일')#email
      div#email-box
    div 
      label(for="password") 
      input(type="password", required, name='password', placeholder='비밀번호', minlength='5')#password
      div#password-box
    div 
      label(for="checkPassword") 
      input(type="password", required, name='checkPassword', placeholder='비밀번호 확인', minlength='5')#checkPassword
      div#checkPassword-box
    div 
      label(for="phone") 
      input(type="number", required, name='phone', placeholder='전화번호')#phone
      div#phone-box
    input(type="submit", value='회원가입')
block script 
  script(src='/js/join.js', type='module')