extends layout

block link
  link(rel="stylesheet", href="/css/pick.css")

block content
  div#number
    div#number__header
      header 번호 생성
    div#number__list
      div 
      div 
      div 
      div 
      div 
      div 
    input(type="submit", value='번호 생성')
block script
  script(src='/js/pick.js', type='module')