extends layout

block link
  link(rel="stylesheet", href="/css/pick.css")

block content
  //- div 
  //- div 
  //- div 
  //- div 
  //- div 
  //- div 
  //- p 
  //-   i.fa-solid.fa-plus
  //- div 
block script
  script(src='/js/pick.js', type='module')