extends layout

block link
  link(rel="stylesheet", href="/css/pick.css")

block content
  div 
    div#number-list
      div 
      div 
      div 
      div 
      div 
      div 
    input(type="submit", value='번호 뽑기')
block script
  script(src='/js/pick.js', type='module')