@use "../../components/display.scss";
@use "../../components/height.scss";
@use "../../components/font.scss";

#content-box {
  height: height.$content-box-height;
  width: 100%;
  font-size: font.$sub-size;
  font-weight: font.$sub-weight;
  @include display.flex(column, space-evenly, center);
  padding: 10px;
  overflow-y: scroll;
  & > div {
    padding: 5px;
  }
}
