@use "../../components/display.scss";
@use "../../components/font.scss";
@use "../../components/height.scss";

#this-week {
  @include display.flex(column, space-evenly, center);
  height: height.$this-week-height;
  & > h1 {
    font-size: font.$title-size;
    font-weight: font.$title-weight;
  }
  & > .lotto-data-details {
    @include display.flex(column, space-around, flex-start);
    width: 50%;
    height: 50%;
    padding: 20px;
    & > p {
      padding: 5px;
      font-size: font.$sub-size;
      font-weight: font.$sub-weight;
    }
    font-weight: font.$sub-weight;
  }
}
