@use "./home-button.scss";

.payment-cancel,
.payment-fail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
  background-color: #f7f7f7;
  text-align: center;
  align-items: center;
  h1 {
    font-size: 2.5rem;
    color: #3b1e1e;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 2rem;
  }
}
