head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/8809ab29cc.js", crossorigin="anonymous")
    title 호또
    block link