#content__chat-box {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  & > .main-chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > .user-message {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      & > .bubble {
        margin: 8px;
        border-radius: 15px;
        border-bottom-left-radius: 0;
        display: inline-block;
        padding: 17px;
        background-color: white;
      }
    }
    & > .ai-message {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      & > .bubble {
        margin: 8px;
        border-radius: 15px;
        border-bottom-right-radius: 0;
        display: inline-block;
        padding: 17px;
        background-color: white;
      }
    }
  }
  & > .content__chat-form {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 50px;
    & > .content__chat-input-box {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      & > input:first-child {
        height: 100%;
        width: 80%;
        margin-right: 5px;
      }
    }
  }
}
